#Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

#Backend override files, which are used to override the default backend configuration
# for example, to use a local backend instead of a remote one. These files may contain sensitive information, such as access keys or credentials, and should not be checked in.
backend.tf
!infra/environments/prod/backend.tf

#Claude configuration files, which are used to configure the Claude AI assistant. These files may contain sensitive information, such as API keys or credentials, and should not be checked in.
docs\superpowers